<!DOCTYPE html>
<html>
    <head>
        <title>Articles</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    </head>
<body>
    <div class="container">
        <h1 class="mt-5">Articles</h1>
        <ul class="list-group mt-3">
            {% for article in articles %}
            <li class="list-group-item">
                <strong>{{ article.title }}</strong> by {{ article.author }} ({{ article.year }})
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
