.container {
    width: 1100px;
    height: 600px;
    background-color: lightgrey;
    margin: auto;
    position: relative;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

.square {
    position: relative;
    width: 600px;
    height: 120px;
    margin: auto;
    background-color: white;
}

.footer {
    position: absolute;
    top: 10px;
    left: 250px;
    width: 100px;
    height: 100px;
    background-color: #4e4e4e;
    color: white;
    text-align: center;
}

.teal {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: teal;
    color: white;
    text-align: center;
}

.aqua {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
    right: 0px;
    background-color: aqua;
    color: white;
    text-align: center;
}

.navy {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 100px;
    background-color: navy;
    color: white;
    text-align: center;
}

.blue {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    text-align: center;
}